@import "variables";

:host {
  display: block;
  position: relative;
}

.entity {
  &.is-deleted {

    &,
    a {
      color: $gray-light;
    }
  }
}

.entity-name {
  font-weight: $font-weight-bold;
}
