<dz-page [content$]="entities$" [isLoading$]="isLoading$">
  <div title>
    <span dz-translate="pages.entity_list.title">Lista entità</span>
  </div>
  <div noLoadedContent>
    <span dz-translate="pages.entity_list.messages.no_entities">
      Non ci sono entità
    </span>
  </div>
  <div loadedContent>
    <div class="well">
      <dz-entity-select-list [entities]="entities$ | async" (entitySelected)="onEntitySelected($event)"></dz-entity-select-list>
    </div>
    <div>
      <h5>
        <span dz-translate="pages.entity_list.title_new_entity">Nuova entità</span>
      </h5>
      <div class="well">
        <dz-entity-create [entity]="createModel$ | async" (created)="onEntityCreated($event)">
        </dz-entity-create>
      </div>
    </div>
  </div>
</dz-page>
